@page "{id:int}"
@model ScientificLaboratory.Pages.Researchers.DetailsModel

<h1>Researcher Details</h1>

<div>
    <h4>Researcher Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.Researcher.FirstName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.Researcher.LastName</dd>

        <dt class="col-sm-2">Specialization</dt>
        <dd class="col-sm-10">@Model.Researcher.Specialization</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Researcher.Email</dd>

        <dt class="col-sm-2">Hire Date</dt>
        <dd class="col-sm-10">@Model.Researcher.HireDate.ToShortDateString()</dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Researcher.ResearcherId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>